{% extends 'base/base.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<h3>¿Desea eliminar la actividad de formacion "{{ Indicadores.Habilidad }} {{ Indicadores.Contenido }} {{ Indicadores.Contexto }}" de el resultado de aprendizaje "{{ Resultados.Verbo }} {{ Resultados.Contenidos }}, {{ Resultados.Contexto }},
        {{ Resultados.Proposito }}"?</h3>
	<button class="btn btn-danger" type="submit">Sí, Eliminar</button>
	<a class= "btn btn-default" href="{% url 'landingIL'  Resultados.id  %} ">Cancelar</a>
</form>
{% endblock %}