{% extends 'base/base.html' %}

{% block title %}
    Cursos
{% endblock %}
{% block content %}
    <a href="/cursos/addADE/{{ IL.id }}" class="pull-right btn btn-success" role="button">Agregar</a>

        <table class="text-center table table-bordered">

        <thead>
        <tr>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Acciones</td>

        </tr>

        </thead>
        <tbody>
        {% if object_list %}
            <h1> Actividades de evaluacion para "{{ IL.Habilidad }} {{ IL.Contenido }} {{ IL.Contexto }}" </h1>
            {% for ADE in object_list %}
                {% if ADE.RA_id ==  RA.id  %}
                    <tr>
                        <td>{{ ADE.Nombre }}</td>
                        <td>{{ ADE.Descripcion }}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'updateADE' ADE.id %}">Editar</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'deleteADE' ADE.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

        {% else %}

        {% endif %}
        </tbody>
    </table>
{% endblock %}