{% extends 'base/base.html' %}

{% block title %}
    Cursos
{% endblock %}
{% block content %}
    <a href="/cursos/addRA/{{ Compe.id }}" class="pull-right btn btn-success" role="button">Agregar</a>

        <table class="text-center table table-bordered">

        <thead>
        <tr>
            <td>Resultado De Aprendizaje</td>
            <td>Acciones</td>

        </tr>

        </thead>
        <tbody>
        {% if object_list %}
            <h1> Competencias para {{ Compe.Competencia }} </h1>
            {% for RA in object_list %}
                {% if RA.Competencia_id ==  Compe.id  %}
                    <tr>
                        <td>{{ RA.Verbo }} {{ RA.Contenidos }}, {{ RA.Contexto }}, {{ RA.Proposito }}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'updateRA' RA.id %}">Editar</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'deleteRA' RA.id %}">Eliminar</a>


                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

        {% else %}

        {% endif %}
        </tbody>
    </table>
{% endblock %}